@model EMS.Model.ViewModels.PayslipVM

@{
    ViewBag.Title = "Edit";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Edit Payslip</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.PKPayslipId)

        <div class="form-group">
            @Html.LabelFor(model => model.EmployeeId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.EmployeeId, "", new { @readonly = "readonly", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EmployeeId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MonthDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="month" name="MonthDate" id="MonthDate" class="form-control" value="@Model.MonthDate.ToString("yyyy-MM")" required />
                @*@Html.EditorFor(model => model.MonthDate, new { htmlAttributes = new { @type = "month", @class = "form-control", value=Model.MonthDate.ToString("yyyy-MM") } })*@
                @*@Html.TextBoxFor(model => model.MonthDate, "{0:MM/yyyy}", new { @type = "month", @class = "form-control" })*@
                @Html.ValidationMessageFor(model => model.MonthDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-success" />
                <a href="/Admin/Payslips" class="btn btn-default">Cancel</a>
            </div>
        </div>
    </div>
}


