@model IEnumerable<EMS.Model.ViewModels.PayslipVM>

@{
    ViewBag.Title = "Index";
}

<h2>PaySlips</h2>

<p>
    @Html.ActionLink("Add Payslip", "Create")
</p>
<table class="table table-bordered table-striped"  >
    <tr style="background-color:#3399CC;color:white;">
        <th>
            @Html.DisplayNameFor(model => model.EmployeeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MonthDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreditedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>Action</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeId)
        </td>
        <td>
            @item.MonthDate.ToString("MMM-yyyy")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreditedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PKPayslipId }) |
            @Html.ActionLink("Delete", "DeletePayslip", new { id=item.PKPayslipId })
        </td>
    </tr>
}
    @if(Model.Count() == 0)
    {
        <tr>
            <td colspan="5" class="text-center"> No Data Available</td>
        </tr>
    }

</table>
