@model IEnumerable<EMS.Model.Payslip>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FKEmployeeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MonthDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreditedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FKEmployeeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MonthDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreditedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PKPayslipId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PKPayslipId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PKPayslipId })
        </td>
    </tr>
}

</table>
