@model EMS.Model.PartialClass.UserModel
@{
    ViewBag.Title = "Login";
}
<style>
    .card {
        /* Add shadows to create the "card" effect */
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
    }

        /* On mouse-over, add a deeper shadow */
        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }
</style>

<div class="row" style="margin-top:5rem;">
    <div class="col-sm-offset-4 col-sm-4 card">
        <h2 class="text-center">Login</h2>
        @using (Html.BeginForm("Login", "Authenticate", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @*@Html.LabelFor(model => model.EmailId, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    <label class="col-md-4 control-label">E-mail:</label>
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.EmailId, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.EmailId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Password:</label>
                    <div class="col-md-8">
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-8">
                        <input type="submit" value="Login" class="btn btn-success" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>



